modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["python311Packages.tkinter", "tk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Node Demonstrator"
author = 159439
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m nodemon"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Tkinter App"

[[workflows.workflow]]
name = "Tkinter App"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/launch.py"

[agent]
expertMode = true
